<link rel="stylesheet" href="/styles/style.css">
<script defer src='/js/index.js'></script>
<script defer src='/js/delete.js'></script>
<main id="main">
  <div class="row">
    <div class="col-lg-9">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-12 text-center mb-5">
            {{#each post}}
            <h1 class="page-title">{{this.title}}</h1>
          </div>
        </div>

        <div  name="draw" class="row mb-5">
          <div class="d-md-flex post-entry-2 half">
           {{!-- <a href="#" class="me-4 thumbnail">
            <iframe
              src="https://yandex.ru/map-widget/v1/?ll=37.719715%2C55.858799&mode=routes&rtext={{this.start}}~{{this.finish}}&rtt=bc&ruri=~&z=13.17"
              width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
            </a> --}}
            <div data-id={{id}} class="ps-md-5 mt-4 mt-md-0">
              <h4 class="mb-4 display-4">О маршруте</h4>
              <p>Старт: {{this.start}}</p>
              <p>Финиш: {{this.finish}}</p>
              <p>Город: {{this.location}}</p>
              <p>Длина: {{this.lengthRoad}}</p>
              <p>Автор маршрута: {{../name}}</p>
              <p>Рейтинг: {{../result}}</p>
              <button id="delete" class="w-100 btn btn-lg btn-primary" name={{id}} type="submit" >Удалить</button>
                  {{/each}}
            </div>
          </div>
        </div>
      </div>
   
      <section>
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <h2 class="display-4">Комментарии</h2>
                </div>
              </div>
            </div>

            <div class="row-lg-4 mb-5">
              {{#each comment}}
              <p>{{this.comment}}</p><br>
                {{/each}}
            </div>
          </div>
        </div>
      </section>

      <br>
        
      <section>
        <div class="container" data-aos="fade-up">
          <div class="row">
            <div class="col-12 text-center mb-5">
              <div class="row justify-content-center">
                <div class="col-lg-6">
                  <h2 class="display-4">Добавить комментарий</h2>
                </div>
              </div>
            </div>
            <div class="voice">
              <input type="hidden" class="post_id" name="post_id" value="{{#each post}}{{this.id}}{{/each}}">
                {{#if user.name}}
                <label for="grade">Оцените маршрут</label>
                <select id="grade" name="grade">
                  <option value="0" selected="selected">0</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
                {{/if}}
            </div>

            <h1>{{error}} </h1>
              {{#if user.name}}
              <form action="/posts/addcomment" method="POST">
                <input class="form-control mt-2" type="text" name="comment" value="" placeholder="Комментарий"><br>
                <input type="hidden" name="user_id" value="{{user.ids}}">
                <button class="w-100 btn btn-lg btn-primary mt-2" type="submit">Добавить</button>
                <input type="hidden" name="post_id" value="{{#each post}}{{this.id}}{{/each}}">
              </form>
              {{/if}}
          </div>
        </div>
      </section>

      <div class="d-md-flex post-entry-2 half mt-5">
        <div class="pe-md-5 mt-4 mt-md-0">
          <div class="post-meta mt-4"></div>
        </div>
      </div> 

    </div>
    
    <div class="col-lg-3">
      <img src="/img/велосипедист.jpg" class="img" alt=""> 
      <img src="/img/Путешествие.jpg" class="img" alt=""> 
      <img src="/img/велосипедистка.jpg" class="img" alt=""> 
       

    </div>
  </div>
  
</main>
